{# @copyright   Copyright (C) 2010-2022 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% UITitle ForPage {sTitle:'Anonymization:Configuration'|dict_s} %}{% EndUITitle %}

{% if sMessage is not empty %}
	{% if sMessageType is empty %}
		{% set sMessageType = 'error' %}
	{% endif %}

	{% if sMessageType == 'error' %}
		{% set sMessageType = 'ForDanger' %}
	{% endif %}
	{% if sMessageType == 'ok' %}
		{% set sMessageType = 'ForSuccess' %}
	{% endif %}

	{% UIAlert ForDanger {sTitle:'', sContent:sMessage, sId:'save_result'} %}{% EndUIAlert %}

{% else %}

	{% UIForm Standard {} %}
		{% UIInput ForHidden {sName:'operation', sValue:'ApplyConfig'} %}
		{% UIInput ForHidden {sName:'transaction_id', sValue:sTransactionId} %}

		{% UIFieldSet Standard {sLegend:'Anonymization:AutomationParameters'|dict_s} %}
			{% if bAnonymizeObsoletePersons and iAnonymizationDelay >= 0 %}
				{% set sDelay = iAnonymizationDelay %}
			{% else %}
				{% set sDelay = '' %}
			{% endif %}
			{% set sDelayInput = 'Anonymization:AnonymizationDelay_Input'|dict_format('<input id="anonymization_delay" type="text" size="4" name="anonymization_delay" value="' ~ sDelay ~ '"/>') %}
			{% if bAnonymizeObsoletePersons and  iAnonymizationDelay >= 0 %}
				{% set bChecked = '1' %}
			{% else %}
				{% set bChecked = '0' %}
			{% endif %}
			<div class="ibo-field">
				<span>
					<input type="checkbox"{% if bAnonymizeObsoletePersons and  iAnonymizationDelay >= 0 %} checked {% endif %}id="checkbox_anonymize" name=""/>
					<label for="checkbox_anonymize">{{ sDelayInput|raw }}</label>
				</span>
			</div>
		{% EndUIFieldSet %}

		{% UIFieldSet Standard {sLegend:'Anonymization:NotificationsPurgeParameters'|dict_s} %}
			{% if bCleanupNotifications and iNotificationsPurgeDelay >= 0 %}
				{% set sDelay = iNotificationsPurgeDelay %}
			{% else %}
				{% set sDelay = '' %}
			{% endif %}
			{% set sDelayInput = 'Anonymization:PurgeDelay_Input'|dict_format('<input id="notifications_purge_delay" type="text" size="4" name="notifications_purge_delay" value="' ~ sDelay ~ '"/>') %}
			{% if bCleanupNotifications and  iNotificationsPurgeDelay >= 0 %}
				{% set bChecked = '1' %}
			{% else %}
				{% set bChecked = '0' %}
			{% endif %}
			<div class="ibo-field">
				<span>
					<input type="checkbox"{% if bCleanupNotifications and  iNotificationsPurgeDelay >= 0 %} checked {% endif %}id="checkbox_purge" name=""/>
					<label for="checkbox_purge">{{ sDelayInput|raw }}</label>
				</span>
			</div>
		{% EndUIFieldSet %}

		{% UIToolbar ForButton {} %}
			{% UIButton ForSecondaryAction {sLabel:'UI:Button:Cancel'|dict_s, sName:'btn_cancel', sId:'btn_cancel', bIsSubmit:true} %}
			{% UIButton ForSecondaryAction {sLabel:'UI:Button:Apply'|dict_s, sName:'btn_apply', sId:'btn_apply', bIsSubmit:true} %}
		{% EndUIToolbar %}
	{% EndUIForm %}

{% endif %}